/* FONT IMPORT */
.titillium-web-light {
    font-family: "Titillium Web", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .titillium-web-regular {
    font-family: "Titillium Web", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", system-ui;
    font-weight: 700;
    font-style: normal;
  }

/*CSS RESET AND NORMALIZATION   CSS CSS CSS CSS CSS CSS CSS CSS CSS  */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;

    padding: 0;
    margin: 0;
}





/* THEME TH TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH   */

:root {
    /* Fonts */


    /* Colors */
    --background-color: #00302a;
    --font-default-color: #ffffff;
}

body {
    background-color: var(--background-color, #0F220F);
}

p {
    font-family: Titillium Web, sans-serif;
    color: var(--font-default-color,#ffffff)
}

header p {
    font-size: 24px;
    font-weight: 600;
}



/* UNIVERSAL STYLING    UNI UNI UNI UNI UNI UNI UNI UNI UNI UNI UNI  */
.wrapper {
    /* Display declarations */
    display: flex;
    height: 100vh;
}


.squiggle {
    /* Font and color declarations */
    filter: invert(19%) sepia(12%) saturate(6265%) hue-rotate(140deg) brightness(93%) contrast(94%);
    /* Transforms and constraints */
    position: absolute;
    scale: 225%;
    top: -250px;
    left: -250px;
    rotate: 60deg;
    width: clamp(300px, 33vw, 375px);

    /* DEBUG BORDERS */
    border: 2px solid #0000FF;
}


/* SIDEBAR  s   s   s   s   s   s   s   s   s   s   s   s   s   s   s*/
.sidebar {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Transforms and Constraints */
    width: 33vw;

    /* DEBUG BORDERS */
    border: 2px solid #FF0000;
    
}

.logo {
    /* Display declarations */
    display: flex;

    /* Transforms and Constraints */
    position: relative;
    top: 40%;

}

.copyright-text{
    /* Display declarations */
    display: flex;
    justify-content: center;

    /* DEBUG BORDERS */
    border: 2px solid #FF0000;
}



/* CONTENT  c   c   c   c   c   c   c   c   c   c   c   c   c   c   c*/
.content {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* DEBUG BORDERS */
    border: 2px solid #00FF00;
}


/*  /* HEADER   h   h   h   h   h   */
header {
    /* DEBUG BORDERS */
    border: 2px solid #00FFFF;
}


/*  /* FORM f   f   f   f   f   f   */
.form-wrapper {
    /* DEBUG BORDERS */
    border: 2px solid #FF00FF;
}

form {
    /* Display declarations */
    display: flex;
}

input:user-valid {
    border: 1px solid #000000;
}

input:user-invalid {
    border: 1px solid #FF0000;
}


/*  /* FOOTER   f   f   f   f   f   */
footer {
    /* DEBUG BORDERS */
    border: 2px solid #FFFF00;
}



/* DEBUG BORDERS */
/* border: 2px solid #000000; */
