/* FONT IMPORT */
/* All fonts from fonts.google.com */
.titillium-web-light {
    font-family: "Titillium Web", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .titillium-web-regular {
    font-family: "Titillium Web", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", system-ui;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", system-ui;
    font-weight: 700;
    font-style: normal;
  }

/*CSS RESET AND NORMALIZATION   CSS CSS CSS CSS CSS CSS CSS CSS CSS  */
/* Remove annoying padding (opinion) */
body, ul, p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Remove annoying text decoration (opinion) */
a {
    text-decoration: none;
    color: inherit;
}




/* THEME TH TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH   */

:root {
    /* Colors */
    --background-color: #00302a;
    --accent-color: #07463f;
    --valid-color: #e1ff67;
    --font-default-color: #ffffff;
}

body {
    background-color: var(--background-color, #0F220F);
}

p {
    font-family: Titillium Web, sans-serif;
    color: var(--font-default-color,#ffffff)
}



/* UNIVERSAL STYLING    UNI UNI UNI UNI UNI UNI UNI UNI UNI UNI UNI  */
.wrapper {
    /* Display declarations */
    display: flex;
    height: 100vh;
}


.squiggle {
    /* Font and color declarations */
    filter: invert(19%) sepia(12%) saturate(6265%) hue-rotate(140deg) brightness(93%) contrast(94%);
    
    /* Transforms and constraints */
    position: absolute;
    scale: 225%;
    top: -250px;
    left: -250px;
    rotate: 60deg;
    width: clamp(260px, 33vw, 375px);
}



/* SIDEBAR  s   s   s   s   s   s   s   s   s   s   s   s   s   s   s*/
.sidebar {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Transforms and Constraints */
    width: 33vw;

    /* CBPM */
    border-right: 2px solid #0F220F;
}

.logo {
    /* Display declarations */
    display: flex;

    /* Transforms and Constraints */
    position: relative;
    top: 40%;

    /* CBPM */
    padding: 0px 12px;

}

.copyright-text{
    /* Display declarations */
    display: flex;
    justify-content: center;

    /* Font and color declarations */
    font-family: Titillium Web, sans-serif;
    color: #777777;
}



/* CONTENT  c   c   c   c   c   c   c   c   c   c   c   c   c   c   c*/
.content {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* CBPM */
    padding-left: 12px;
}


/*  /* HEADER   h   h   h   h   h   */
header {
    /* CBPM */
    padding-bottom: 12px;
}

header p {
    font-size: 36px;
    font-weight: 900;
    line-height: 2.5rem;
}


/*  /* FORM f   f   f   f   f   f   */
.form-wrapper {
    /* Font and color declarations */
    background-color: var(--accent-color);

    /* CBPM */
    padding: 24px 12px;
    box-shadow: 2px 2px 4px #000000;

    /* DEBUG BORDERS */
    /* border: 2px solid #FF00FF; */
}

.form-wrapper p {
    /* Font and color declarations */
    font-size: 24px;
    font-weight: 600;
}

form {
    /* Display declarations */
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

ul {
    /* Display declarations */
    display: flex;
    flex: 1;
    flex-direction: column;

    /* Transforms and constraints */
    min-width: 300px;
    max-width: 400px;
}

li {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    gap: 2px;
}

input, label {
    /* Font and color declarations */
    font-family: Titillium Web, sans-serif;
    font-size: 18px;
}

input {
    /* Font and color declarations */
    background-color: var(--background-color);
    color: #ffffff;

    /* CBPM */
    border: 2px solid white;
    border-radius: 5px;
    padding: 0px 4px;
}

input:user-valid {
    /* CBPM */
    border: 2px solid var(--valid-color,white);
}

input:user-invalid {
    /* CBPM */
    border: 2px solid #FF0000;
}

label {
    /* Font and color declarations */
    font-weight: 600;
    color: #FFFFFF;
}

p.error-message {
    /* Font and color declarations */
    font-size: 14px;
    font-weight: 600;
    color: #ff0000;
}


/*  /* FOOTER   f   f   f   f   f   */
footer {
    /* CBPM */
    padding-top: 12px;
    /* DEBUG BORDERS */
    /* border: 2px solid #FFFF00; */
}

button.submit {
    /* Font and color declarations */
    font-family: Titillium Web, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--font-default-color, white);
    background-color: var(--accent-color);

    /* CBPM */
    padding: 2px 8px;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000000;
}

button.submit:hover {
    /* Font and color declarations */
    background-color: var(--valid-color);
    color: #000000;

    /* CBPM */
    border: 2px solid var(--font-default-color);
}

button.submit:disabled {
    /* Font and color declarations */
    opacity: 10%;
    color: var(--font-default-color, white);
    background-color: var(--accent-color);

    /* CBPM */
    border: 2px solid var(--accent-color);
}

footer a {
    /* Font and color declarations */
    color: var(--valid-color);
    font-weight: 600;
}



/* DEBUG BORDERS */
/* border: 2px solid #000000; */
